# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# IDE
.idea/
.vscode/
.DS_Store
__MACOSX/

# Static resources
resources/fonts/

# Outputs
output/

# Database
filelist.txt
*.db

# Logs

# Others
test/
old/